/* .connexion {
  width: 100%; 
  height: 90vh;
  transform: translateY(5vh);
  margin: 0 auto; 
  display: flex; 
  flex-direction: column; 
  justify-content: space-between; 
  align-items: center; 
  box-shadow: 1px 1px 7px 0px rgba(0,0,0,0.5);
  background: white; &
}

.connexion--title {
  font-family: League Script;
  font-weight: bold;  
  font-size: 6rem; 
}

.connexion--form {
  display: flex; 
  flex-direction: column; 
  justify-content: space-between; 
  align-content: center; 
  height: 40%;
  width: 100%; 
}

.connexion--input {
  border-radius: 40px; 
  padding: 20px; 
  width: 50%; 
  margin: 0 auto; 
  border: 2px solid transparent;
  background-clip: padding-box, border-box;
  background-origin: padding-box, border-box;
  background-image: linear-gradient(#fff, #fff), linear-gradient(#ABA9FF , #F565A9);
}

.connexion--submit {
  cursor: pointer;
  border-radius: 40px; 
  padding: 15px; 
  width: 25%; 
  margin: 0 auto; 
  background: linear-gradient(117.23deg, #ABA9FF 36.54%, rgba(214, 250, 255, 0) 84.8%), #F565A9;
  color: white; 
  font-size: 1rem; 
}

.connexion--submit:hover {
  border: 2px solid transparent;
  background-clip: padding-box, border-box;
  background-origin: padding-box, border-box;
  background-image: linear-gradient(#fff, #fff), linear-gradient(#ABA9FF , #F565A9);
  color: #ABA9FF;
  transition-duration: 0.35s;
}
}

.inscription--link::before {
  content: "";
  display: block;
  width: 50%;
  margin: 0 auto; 
  background: linear-gradient(117.23deg, #ABA9FF 36.54%, rgba(214, 250, 255, 0) 84.8%), #F565A9;
  height: 2px;
  transition: all 0.5s; 
  transform: translateY(-30px);
} */